@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_79603-1805.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1710115200&semt=ais") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100px;
}

header  .head-button {
    width: 150px;
    height: 45px;
    margin: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

header a:hover {
    color: #563d7c;
}

#wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
    color: #FFF;
    border-radius: 10px;
    padding: 30px 40px;
}

#wrapper h1 {
    font-size: 36px;
    text-align: center;
}

#wrapper .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #FFF;
    padding: 20px 45px 20px 20px;
}

.form-group input::placeholder {
    color: #FFF;
}

.form-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

#wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
}

.remember-forgot label input {
    color: #FFF;
    margin-right: 3px;
}

.remember-forgot a {
    color: #FFF;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

#wrapper .form-submit {
    width: 100%;
    height: 45px;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.1);
    color: #333;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.register-link {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.register-link p a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}