* {
  font-family: "K2D", sans-serif;
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
}

.navbar {
  background-color: #563d7c;
}

.navbar-brand {
  font-weight: 700;
}
.container {
  padding-top: 50px;
}
.feature-bnt {
  padding-bottom: 30px;
}
.row {
  padding: 0;
}
.footer {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #563d7c;
  color: #ffbe89;
  border-radius: 10px;
}
h5 {
  color: antiquewhite;
  padding: 15px;
}

.nav-item {
  padding-left: 15px;
}
.text-body-secondary {
  padding-bottom: 25px;
  border-bottom: 1px solid #535353;
}
.scrollar-bg {
  height: -webkit-fill-available;
  min-width: 24vh;
  max-height: 98vh;
  max-width: 50vh;
  border-radius: 10px;
}
.scrollar-div {
  height: -webkit-fill-available;
  max-height: 80vh;
  border-radius: 5px;

  overflow-x: auth2o;
  overflow-y: scroll;
}

.list-group {
  height: 98vh;
  height: -webkit-fill-available;
  max-height: 98vh;
  overflow-x: auto;
  overflow-y: hidden;
}
h1 {
  padding: 15px;
  font-weight: 900;
  color: #ffbe89;
}
.fs-5 {
  font-weight: 600;
  font-size: xx-large;
}
.mid {
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 50px;
}
.button {
  color: #ffbe89;
  padding: 10px 32px;
  background-color: #563d7c;
  width: 60px;
  height: 30px;
  font-size: 20px;

  border-width: 50px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}
.button:focus {
  background-color: #442f62;
}
.bg-box-top {
  width: 81em;
  height: 13em;
  max-width: 81em;
  max-height: 15em;
  border-radius: 10px;
  background-color: #563d7c;
}
.box-top-btn {
  width: 100px;
  height: 100px;
  color: #535353;
  background-color: #ffbe89;
  padding-left: 15px;
  border-radius: 4px;
  align-items: center;
}
.btn {
  padding-left: 15px;
}
a {
  color: #563d7c;
}
.pb-2.h1 {
  padding-left: 15px;
  margin-top: 20px;
}
.px-2 {
  margin-left: 15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.px-l {
  margin-right: 5px;
}
.px-1 {
  margin-top: 20px;
}
.text {
  color: #ffbe89;
}
.lead {
  color: #ffbe89;
  margin-left: 15px;
}
.nav-item {
  color: #ffbe89;
}
.bg-pupl {
  background-color: #563d7c;
}
.rownd {
  border-radius: 10px;
  background-color: #563d7c;
  margin-right: 5px;
}
.cl {
  color: #ffbe89;
}
.fw-semibold {
  color: #ffbe89;
}
