.Destination {
  font-family: "K2D", sans-serif;
  padding-top: 3rem;
}

.Destination .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Destination .featured-destinations {
  margin-top: 30px;
}

.Destination .featured-destinations h3 {
  margin-bottom: 15px;
}

.Destination .list-group-item {
  border-color: #ddd;
}

/* Side section */
.Destination .img-fluid {
  width: 100%;
}

.Destination .planning-your-trip {
  margin-top: 20px;
}

.Destination .planning-your-trip ul {
  list-style: none;
  padding: 0;
}

.Destination .planning-your-trip li .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Main content area */
.Destination .featured-destinations {
  margin-top: 30px;
}

.Destination .featured-destinations h3 {
  margin-bottom: 15px;
}

.Destination .list-group-item {
  border-color: #ddd;
}

/* Side section */
.Destination .img-fluid {
  width: 100%;
}

.Destination .planning-your-trip {
  margin-top: 20px;
}

.Destination .planning-your-trip ul {
  list-style: none;
  padding: 0;
}

.Destination .comments-section {
  max-width: 880px;
}

.Destination .btn-primary {
  background-color: #563d7c;
  color: white;
  border-color: #ffffff;
}

.Destination .btn-primary:hover {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.Destination .sticky-wrapper {
  position: sticky;
  top: 0;
}

.Destination .btn.clicked {
  background-color: #dc3545;
  color: #ffffff;
  border-color: #ffffff;
}

.Destination .btn .bi-heart {
  margin-right: 5px;
}

.Destination .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Destination .comment {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.Destination .replies {
  margin-left: 50px;
}

.Destination .comment-buttons {
  display: flex;
  gap: 10px;
}

.Destination .comment-button {
  border: none;
  background: none;
  color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  transition: color 0.3s;
}

.Destination .comment-button:hover {
  color: #0056b3;
}

.Destination .comment-button .fas {
  font-size: 16px;
}
