.FAQpage {
  font-family: "K2D", sans-serif;
  padding-top: 3rem;
  color: #5a5a5a;
}

.FAQpage section,
.FAQpage div {
  display: block;
}

.FAQpage .faq-help {
  background-color: #fff;
  padding: 30px;
}

.FAQpage .faq-help .bread-crumbs {
  padding: 12px 0;
  font-size: 13px;
  color: #003580;
}

.FAQpage .bread-crumbs a {
  color: #0071c2;
  text-decoration: underline;
}

.FAQpage .bread-crumbs .separator {
  color: #febb02;
  padding: 0 5px;
}

.FAQpage .faq-help .faq-content {
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 19px;
}

.FAQpage .faq-help .faq-content a {
  display: block;
}

.FAQpage .bui_font_heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.FAQpage .faq-help h2 {
  margin-top: 20px;
}

.FAQpage .faq-help h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.FAQpage .bui-f-color-black {
  color: #000 !important;
}

.FAQpage .faq-help .faq-reg-scheme ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
  line-height: 30px;
}

.FAQpage .faq-help .faq-reg-scheme li {
  color: #8e8e8e;
}

.FAQpage .bui-f-color-grayscale {
  color: #6b6b6b !important;
}

.FAQpage .bi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.FAQpage .why-commission dl {
  max-width: 55em;
  margin: auto;
  position: relative;
  padding-left: 2em;
}

.FAQpage .why-commission dd {
  margin-bottom: 0.85em;
}

.FAQpage dd {
  margin-left: 0;
  display: block;
  margin-inline-start: 20px;
}

.FAQpage .list-inline {
  padding-left: 0;
  list-style: none;
}

.FAQpage .pull-right {
  float: right !important;
}

.FAQpage .pull-left {
  float: left !important;
}

.FAQpage a {
  text-decoration: none;
}

.FAQpage .list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Định dạng cho form control */
.FAQpage .faq_search_input {
  border: 2px solid #563d7c;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.FAQpage .faq_search_input:focus {
  border-color: #febb02;
  outline: none;
}
