* {
  font-family: "K2D", sans-serif;
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
}

.navbar {
  background-color: #563d7c;
}

.navbar-brand {
  font-weight: 700;
}
.card-footer {
  background-color: #563d7c;
  padding: 1rem;
}

.card-footer .bi {
  vertical-align: -0.125em;
  fill: white;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured-destinations {
  margin-top: 30px;
}

.featured-destinations h3 {
  margin-bottom: 15px;
}

.list-group-item {
  border-color: #ddd;
}

/* Side section */
.img-fluid {
  width: 100%;
}

.planning-your-trip {
  margin-top: 20px;
}

.planning-your-trip ul {
  list-style: none;
  padding: 0;
}

.planning-your-trip li 
.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Main content area */
.featured-destinations {
  margin-top: 30px;
}

.featured-destinations h3 {
  margin-bottom: 15px;
}

.list-group-item {
  border-color: #ddd;
}

/* Side section */
.img-fluid {
  width: 100%;
}

.planning-your-trip {
  margin-top: 20px;
}

.planning-your-trip ul {
  list-style: none;
  padding: 0;
}

.comments-section {
  max-width: 880px;
}

.btn-primary {
  background-color: #563d7c;
  color: white;
  border-color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.image {
  width: 850px;
  height: 500px;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
}
