@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.Loginpage {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Loginpage a {
  text-decoration: none;
  color: #fff;
}

.body-Login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_79603-1805.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1710115200&semt=ais")
    no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.body-Login header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.body-Login header .head-button {
  width: 150px;
  height: 45px;
  margin: 10px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.body-Login .wrapper-login {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.body-Login .wrapper-login.active {
  display: none;
}

.body-Login .wrapper-login h1 {
  font-size: 36px;
  text-align: center;
}

.body-Login .wrapper-login .form-group {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.body-Login .form-group input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.body-Login .form-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.body-Login .form-group input:focus ~ label,
.body-Login .form-group input:valid ~ label {
  top: -10px;
}

.body-Login .form-group i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.body-Login .wrapper-login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.body-Login .remember-forgot label input {
  color: #fff;
  margin-right: 3px;
}

.body-Login .remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.body-Login .remember-forgot a:hover {
  text-decoration: underline;
}

.body-Login .wrapper-login .form-submit {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.body-Login .register-link {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.body-Login .register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.body-Login .register-link p a:hover {
  text-decoration: underline;
}

.body-Login .wrapper-register.active {
  display: none;
}

.body-Login .wrapper-register {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 10px;
  padding: 30px 30px;
}

.body-Login .wrapper-register h1 {
  font-size: 36px;
  text-align: center;
}

.body-Login .two-form {
  display: flex;
  gap: 10px;
  margin-bottom: -30px;
}

.body-Login .wrapper-register .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.body-Login .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 10px 0 40px;
}

.body-Login .input-box label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.body-Login .input-box input:focus ~ label,
.body-Login .input-box input:valid ~ label {
  top: -10px;
}

.body-Login .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.body-Login .wrapper-register .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.body-Login .remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.body-Login .remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.body-Login .remember-forgot a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.body-Login .wrapper-register .submit {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.body-Login .wrapper-register .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.body-Login .login-link p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.body-Login .login-link p a:hover {
  text-decoration: underline;
}
